<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.velocity_concepts.freshbooks"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name=".DashboardListActivity">
	    	<action android:name="android.intent.action.PICK" />
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    
	    
	    <activity android:name=".ClientsActivity">
	    	<action android:name="android.intent.action.PICK" />
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    <activity android:name=".ClientActivity">
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    <activity android:name=".AddCreditActivity">
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    <activity android:name=".AddClientActivity">
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    
	    
	    <activity android:name=".InvoicesActivity">
	    	<action android:name="android.intent.action.PICK" />
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	    <activity android:name=".InvoiceActivity">
	    	<action android:name="android.intent.action.PICK" />
	    	<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
	    </activity>
	</application>
	
	
	<uses-permission android:name="android.permission.BIND_INPUT_METHOD"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"></uses-sdk>
</manifest> 